<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>

</head>
<body>
<h1><%= title %></h1>
<p>Here is the complete Cast and Crew of <strong>'<%= title %>'</strong></p>
<p> --- Directed By <a href="<%= director.link %>" target="_blank"><strong><%= director.name %></strong></a></p>

<table>
    <tr>
        <th>S.No.</th>
        <th>Photo</th>
        <th>Actor</th>
        <th>Character in movie</th>
    </tr>
    <%
    var i = 1;
    data.Movies.actors.forEach(function (actor) {%>
    <tr>

        <td align="center"><%= i %></td>
        <td align="center"><a href="<%= actor.link %>"><img src="<%= actor.pic %>"></a></td>
        <td><a href="<%= actor.link %>"><%= actor.name %></a></td>
        <td><%= actor.character %></td>

    </tr>
    <% i++;
    }); %>
</table>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

</body>
</html>
